@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f2f2f2 !important;
}

.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #000;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #323468;
    padding: 0.4rem 0.8rem;
    transition: all .5s ease;
    z-index: 99;
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer; 
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: .8rem auto;
    line-height: 50px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: .8rem;
    max-height:3rem;
    
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    max-height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0, .2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 99;
    opacity: 0;
    transition: .3s ease-out;
    white-space: nowrap; 
    
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    background-color: white;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all .5 ease;
    width: calc(100% - 80px);
    padding: 1rem;
}


.announcement-logs {
    color: black;
    background-color: white;
    border-radius: 5px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

.announcement-logs #announcement-list {
    list-style-type: none;
}

.announcement {
    color: #fff;
    background-color: #323468;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
}

.announcement:hover {
    opacity: 0.8;
    background-color: #f2f2f2;
    border: 3px solid #323468;
    color: #323468;
}

.announcement:hover .sender-img{
    border: 2px solid #323468;
}

.header {
    color: #323468;
    font-size: xx-large;
    padding: 15px;
}

.search {
    display: inline-block;
    justify-content: space-between; 
    margin-bottom: 10px;

}

.search #search-bar {
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #323468;
}

.announcement .announcement-details {
    display: inline-block;

    text-align: right;
}

.announcement .announcement-header {
    display: inline-block;
    margin-left: 10px;
}

.announcement h3 {
    display: inline;
}

.sender-icon {
    display:inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    vertical-align: top;
}

.sender-img {
    aspect-ratio: auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #fff;
}

.announcement-logs a {
    text-decoration: none;
}

.container-emp-list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.employee-list {
    color: black;
    background-color: white;
    border-radius: 5px;
    max-width: 1500px;
    width: 100%;
    padding: 20px;
}

.header-emp-list h3 {
    padding: 3px;
    display: inline-block;
}

.search-emp-list {
    display: inline-block;
    justify-content: space-between; 
    margin-bottom: 15px;
    float: right;
    padding: 3px;
}

.search-emp-list #search-bar {
    border-radius: 5px;
    padding: 3px;
    border: 1px solid;
}

.emp-masterlist {
    border-collapse: collapse;
    border: 2px solid #f2f2f2;
}

.emp-masterlist th {
    border: 2px solid #f2f2f2;
    padding: 3px;
    color: #fff;
    background-color: #323468;
}

.emp-masterlist td {
    text-align: center;
    padding: 2px;
    border-left: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
}

.emp-masterlist button {
    border: none;
    color: #fff;
    background-color: #323468;
    opacity: 50%;
    cursor: pointer;
}

.emp-masterlist tbody button {
    border: none;
    color: #000;
    background-color: #fff;
    opacity: 50%;
}

.emp-masterlist button:hover{
    opacity: 100%;
}

.emp-masterlist #emp-masterlist-body tr:hover {
    background-color: #f2f2f2;
}

.emp-masterlist #emp-masterlist-body tr:hover button{
    background-color: #f2f2f2;
}

.emp-masterlist-nextp {
    padding: 10px;
}

.emp-masterlist-nextp button {
    border: none;
    cursor: pointer;
}






